#navbar {
    
    text-align: right;
    width: 100%;  
    top: 0;
    position: fixed;
    
  }

 

  html, body { height:100%; margin:0; padding:0; }

div { height:100%; }

  @media only screen and (max-width: 600px) {
        body {
          background-color: #eee;
        }
      }